.body {
    background-color: #F0DFDF;
}
.header {
    display: flex;
    align-items: center;
    background-color: blueviolet;
}

.mood {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;

    margin: 0;
    padding: 3;

    list-style: none;
}

.mood_link {
    padding: 5px;
    text-decoration: none;
    color: #F0DFDF;
}
.logout {
    margin-left: 476px;
}
.info {
    display: flex;
}

.info_about {
    width: 50%;
    gap: 42px;
}

.page {
    display: flex;
    align-items: center;
    gap: 30ph;
    

    margin: 0;
    padding: 3;

    list-style: none;
}