@import "normalize.css";
@import "fonts.css";

.body {
    
    width: 100%;
    height: 100%;
    min-width: 1024px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;

    background-color: #F0DFDF;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {

    display: flex;
    align-items: center;
    justify-content: flex-end;

    max-width: 1024px;
    padding: 0 24ph;
    margin: 0 auto;
}

.header {
    
    background-color: #342B5C;
    
}

.logo {
    color: #F0DFDF;
}

.logo:hover {
    color: rgb(233, 141, 187);
}

.mood {
    margin-left: auto;
}

.mood_list {

    display: flex;
    align-items: center;
    gap: 40px;

    margin: 0;
    margin-left: 66px;
    padding: 0;

    list-style: none;
}



.mood_link {
    padding: 5px;
    text-decoration: none;
    color: #F0DFDF;
}

.logout {
    margin-left: 400px;
    background-color: transparent;
    border: none;
    color: #f0dfdf;
}

.info {
    display: flex;
    flex-grow: 1;
}

.info_wrapper {
    display: flex;
    gap: 24px;
    max-width: 1024px;
    width: 100%;
    padding: 24px;
    margin: 0 auto;
    background-color: #ffffff;
}

.info_about {
    width: 50%;
    flex-direction: column;
    gap: 42px;
}

.sport_tex {

    text-transform: uppercase;
}

.pic_sport {

    width: 438px;
    height: 409px;
    overflow: hidden;
    margin-top: 10%;
    margin-left: 10%;

}

.page {
    display: flex;
    align-items: center;
    gap: 31px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.page_inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 10px;
    

    list-style: none;
    color: #ffffff;
    background-color: black;
    border-radius: 3%;
}

.page_inner_prop {

    display: flex;
    flex-direction: column;
    margin: 0;

}

.page_innertitle {

    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-align: right;
    

}

.page_innertext {

    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    text-align: right;

}

.pic_logo {

    width: 48px;
    height: 49.43px;
    border-radius: 50%;
    overflow: hidden;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #37442A;
}